.navbar-brand {
    padding-top: 5px;
}

.btn-dark,
.btn-dark:hover {
    background-color: #e21c21;
    border-color: #e21c21;
}

.home-view section.hero-section .hero-content-bg {
    position: absolute;
    width: 75vw;
    height: 100%;
    left: -44vw;
    top: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
    -webkit-transform: skew(25deg);
    transform: skew(25deg);
}

.home-view section.hero-section .hero-image {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}

.home-view section.hero-section .hero-content-container h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
}

.home-view section.hero-section .hero-content-container {
    z-index: 1;
    text-align: left;
    display: inline-block;
    left: -18vw;
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.home-view section.hero-section .hero-content-container h3 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.events-view section.hero-section .hero-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

nav .navbar-nav .nav-item .nav-link span {
    transition: 0s ease-in-out;
    border-bottom: 0px solid #e21c21;
}

.cart-payment-view section .cart-voucher-container #undo_voucher_button {
    display: none;
    font-size: 20px;
    font-weight: 400;
    color: #747474;
    margin: 0;
    width: 100%;
    margin-top: 10px;
}
.cart-payment-view section .cart-voucher-container #undo_voucher_button a {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
    display: inline-block;
}
.cart-payment-view section .cart-voucher-container #undo_voucher_button.active {
    display: block;
}

.profile-view
    .main-profile-section
    .profile-content-container
    .profile-nav
    .nav-item
    .nav-link.active {
    font-weight: 700;
    color: #000;
    border-top: 4px solid #e21c21;
    padding-top: 5px;
}

.invalid-feedback {
    display: block;
}

.purchase-voucher-view section .cart-payment-container {
    background-color: #f5f5f5;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}

.cart-view section #undo_code_button {
    display: none;
    font-size: 20px;
    font-weight: 400;
    color: #747474;
    margin: 0;
    width: 100%;
    margin-top: 10px;
}

.cart-view section #undo_code_button.active {
    display: block;
}

.cart-view section #undo_code_button a {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
    display: inline-block;
}
.pagination {
    justify-content: center;
}

.page-link,
.page-link:hover {
    color: #e21c21;
}

.home-view section.hero-section .hero-content-container h1 {
    font-size: 40px;
}

.home-view section.hero-section .hero-content-container h3 {
    font-size: 16px;
}

.home-view section.hero-section .hero-content-bg {
    left: -70vw;
}

@media only screen and (max-width: 500px) {
    .custom-radio-input {
        margin: 0;
    }
}

.event-details-view section.event-summary .event-sub-details .details-text {
    font-size: 12px;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}
